.header {
  background: linear-gradient(90deg, #0088cc 0%, #1e3a8a 100%);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
  transition: color var(--transition-speed) ease;
}

.logo:hover {
  color: var(--primary-color-dark);
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: #fff;
  transition: color var(--transition-speed) ease;
}

.link:hover {
  color: #e4e4e4;
}

.cta {
  border-radius: 14px;
  color: #464646;
  padding: 10px 20px;
  border: 1px solid #24AB6A;
  background: #fff;
  transition: background var(--transition-speed) ease;
}

.cta:hover {
  background: #f1f1f1;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    margin-top: 1rem;
    flex-direction: column;
  }

  .link {
    padding: 0.5rem 0;
  }
}
